{{#partial "content"}}

    <p>Member Name:</p>

    <p>{{ members.memberName}}</p>
    <h5>The individuals name:</h5>
    <p> {{ members.badge }}</p>
    <h5> Their badge number</h5>




    <a href="/teams/{{teams.id}}/update">Edit this Member</a><br>

    <a href="/teams/{{teams.id}}/members/new">Delete this member</a><br>



    <!--<p class="text-muted"><a href="/teams/{{deleteTeam.id}} delete">Delete this team</a></p>-->





{{/partial}}

{{> layout.hbs}}