{{#partial "content"}}

    <p>Member Name:</p>

    {{#if members}}
        {{#each members}}
            <h5>Member name:</h5>
            <p>{{ memberName}}</p>
            <h5> Badge:</h5>
            <p> {{ badge }}</p>
            <p>{{teamId}}</p>

        {{/each}}
    {{/if}}
    <!--<p>{{ members.memberName}}</p>-->
    <!--<h5>The individuals name:</h5>-->
    <!--<p> {{ members.badge }}</p>-->
    <!--<h5> Their badge number</h5>-->




    <a href="/teams/{{teams.id}}/update">Edit this Member</a><br>

    <a href="/members/delete">Delete all members</a><br>



    <!--<p class="text-muted"><a href="/teams/{{deleteTeam.id}} delete">Delete this team</a></p>-->





{{/partial}}

{{> layout.hbs}}