{{#partial "content"}}

    <p>Member Name:</p>

    {{#if members}}
        <h1>Members</h1>
        {{#each members}}
            <h5>Member name:</h5>
            <p>{{ memberName}}</p>
            <h5> Badge:</h5>
            <p> {{ badge }}</p>
            <p>{{teamId}}</p>
            <a href="/teams/{{teamId}}/members/{{id}}/update">Edit this Member</a><br>

        {{/each}}
    {{else}}

            <h1>Add a new team!</h1>
        <form action="/teams/new" method="post">
            <label for="name">Name of your codealicous team!!</label>
            <input id="name" name="name" type="text"><br>
            <label for="description">Description of your codealicous team!!</label>
            <input id="description" name="description" type="text"><br>




    {{/if}}




    <a href="/members/delete">Delete all members</a><br>



{{/partial}}

{{> layout.hbs}}