{{#partial "content"}}

    <p>Team Name:</p>

    <p>{{ teams.name}}</p>
    <h5>Description:</h5>
    <p> {{ teams.description }}</p>
    <h5> Team status:</h5>



    <p>{{ members.membersName}}</p>
    <h5>Member name:</h5>
    <p> {{ members.badge }}</p>
    <h5> Badge:</h5>



        <a href="/teams/{{teams.id}}/update">Edit this team</a><br>

    <a href="/teams/{{teams.id}}/members/new">Add a new member</a><br>



    <!--<p class="text-muted"><a href="/teams/{{deleteTeam.id}} delete">Delete this team</a></p>-->





{{/partial}}

{{> layout.hbs}}